<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img
      src="/assets/img/3dimage.jpg"
      class="d-block mx-lg-auto img-fluid"
      alt="Bootstrap Themes"
      width="350"
      loading="lazy"
    />
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
      Tranger din 3D printer til en kærlig hånd
    </h1>
    <p class="lead">
      Har din 3D-printer brug for en opgradering eller vedligeholdelse? Lad os
      hjælpe dig med at bringe din 3D-printer tilbage til topform! Uanset om det
      er kalibrering, udskiftning af slidte dele, eller optimering af
      indstillingerne, står vi klar til at give din printer den nødvendige
      omsorg. Med vores ekspertise sørger vi for, at din printer igen leverer
      præcise og pålidelige printresultater.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
        Primary
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Default
      </button>
    </div>
  </div>
</div>
